/*INDEX.HTML SECTION (LANDING PAGE) */

.nav-size {
  font-size: 10px;
}

.logo {
  position: absolute;
  top: 12px;
  height: auto;
  width: 20rem;
  z-index: 999;
}

.small-logo {
  height: 3.75rem;
  width: auto;
}

.small-logo-container {
  position: absolute;
  z-index: 999;
}

/*INFO.HTML (ABOUT PAGE) */
.info-media-link {
  font-size: 12px;
}
.info-logo {
  position: absolute;
  top: 12px;
  height: auto;
  width: 15rem;
  z-index: 999;
}

.info-small-logo {
  height: 3.75rem;
  width: auto;
}

.info-small-logo-container {
  position: absolute;
  z-index: 999;
}
